// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

//Variables
$primary-color: #000;
$primary-color-light: #006600;

// Materialize
@import 'node_modules/materialize-css/sass/materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // background-color: #000;
}

main {
  flex: 1 0 auto;
  background-color: #000;
  color: #fff;
}

.page-footer {
  background-color: #fff;
}

.page-footer .footer-copyright {
  color: #000;
}

#banner-logo {
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}

.social-logo,
.music-logo {
  width: 100px;
}

.social-logo-footer {
  width: 8vh;
}

.navbar-container {
  background-color: #fff;
}

@media screen and (min-width: 500px) {
  .music-logo {
    margin-bottom: 20px;
  }
}
